.slider {
    width: 50%;
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.slider-body {
    pointer-events: none;
    height: 5px;
    width: 100%;
    background-color: #424242;
}

.slider- {
    pointer-events: none;
    height: 30px;
    width: 30px;
    background-color: #62ff00;
    box-shadow: ;
}
