/* ----------------------------- LABEL ----------------------------- */

label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* ----------------------------- CHECKBOX ----------------------------- */

input[type="checkbox"] {
    appearance: none;

    width: 30px;
    height: 30px;
    margin: 0;

    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;

    transition: background-color 0.2s ease;

    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #0b70dd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6L9 17l-5-5'/%3E%3C/svg%3E");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----------------------------- TEXT ----------------------------- */

input[type="text"] {
    appearance: none;

    width: 50%;
    height: 30px;

    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}

/* ----------------------------- BUTTON ----------------------------- */

input[type="button"] {
    appearance: none;
    cursor: pointer;

    width: 50%;
    height: 40px;

    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;

    transition: background-color 0.2s ease;
}

input[type="button"]:active {
    background-color: #c5c5c5;
}

/* ----------------------------- NUMBER ----------------------------- */

input[type="number"] {
    appearance: none;

    width: 50%;
    height: 30px;

    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    cursor: pointer;
}
