*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
}

.webview {
    width: 100%;
    height: 100%;
}
